.successToast {
  border-left: 4px solid var(--success) !important;
}

.errorToast {
  border-left: 4px solid var(--error) !important;
}

.warningToast {
  border-left: 4px solid var(--warning) !important;
}

.infoToast {
  border-left: 4px solid var(--info) !important;
}

.iconSuccess {
  color: var(--success);
}

.iconError {
  color: var(--error);
}

.iconWarning {
  color: var(--warning);
}

.iconInfo {
  color: var(--info);
}